In [1]:
import numpy as np

In [5]:
import pandas as pd

In [11]:
sizes = ["S", "M", "L", "XL", "XXL", "XXXL", "XXS"]
df = pd.DataFrame(sizes, columns=["Sizes"])
df

  Sizes
0     S
1     M
2     L
3    XL
4   XXL
5  XXXL
6   XXS