In [1]:
import pandas as pd

In [20]:
og_data = {"Name": ["Ram", "Sam", "Tom", "Ram", "Tom"], "Mark": [90,80,80,90,80], "Roll": [1,2,3,1,3]}
df = pd.DataFrame(og_data)
df

  Name  Mark  Roll
0  Ram    90     1
1  Sam    80     2
2  Tom    80     3
3  Ram    90     1
4  Tom    80     3

In [21]:
# df["Duplicate?"] = df.duplicated()
# df

In [25]:
df.drop_duplicates(keep= "first", inplace=True)
df

  Name  Mark  Roll
0  Ram    90     1
1  Sam    80     2
2  Tom    80     3

### Doing with large datasets

In [39]:
dataset = pd.read_csv(r"D:\Github\Data-Science-And-Machine-Learning-Course\Datasets\Loan.csv")

In [40]:
dataset.duplicated().sum()

np.int64(0)

In [42]:
#there are no duplicate, lets see if there are acutally no duplicate data
dataset.shape

(614, 13)

In [43]:
dataset.drop_duplicates(keep = "first", inplace=True)
dataset.shape

(614, 13)

In [44]:
#before and after still has no shape change, so there are no duplicate data