In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv(r"D:\Github\Data-Science-And-Machine-Learning-Course\Datasets\placement.csv")

In [3]:
dataset.head(5)

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57

In [4]:
dataset.isna().sum()

cgpa       0
package    0
dtype: int64