In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv(r"D:\Github\Data-Science-And-Machine-Learning-Course\Datasets\Salary.csv")

In [3]:
dataset.head(3)

   Year  Experience  Salary
0     0         1.2   39344
1     1         1.4   46206
2     2         1.6   37732

In [ ]:
sns.scatterplot(data=dataset, x= dataset[""])