In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv(r"D:\Github\Data-Science-And-Machine-Learning-Course\Datasets\Social_Network_Ads.csv")

In [3]:
dataset.head(3)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0

In [4]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [5]:
#as dataset looks imbalance so we can do both undersampling and oversampling for these

In [6]:
dataset.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [7]:
#we change gender into label, but instead of label encoder we can also use map feature
dataset["Gender"] = dataset["Gender"].map({"Male":0, "Female":1})

In [8]:
dataset.head(3)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       0   19            19000          0
1  15810944       0   35            20000          0
2  15668575       1   26            43000          0

In [9]:
X = dataset.drop(columns=["User ID", "Purchased"])
y = dataset["Purchased"]

In [16]:
import sys
!{sys.executable} -m pip install imbalanced-learn

Collecting imbalanced-learn
  Using cached imbalanced_learn-0.14.0-py3-none-any.whl.metadata (8.8 kB)
Requirement already satisfied: numpy<3,>=1.25.2 in d:\installations\miniconda\envs\dsml\lib\site-packages (from imbalanced-learn) (2.0.1)
Requirement already satisfied: scipy<2,>=1.11.4 in d:\installations\miniconda\envs\dsml\lib\site-packages (from imbalanced-learn) (1.16.0)
Requirement already satisfied: scikit-learn<2,>=1.4.2 in d:\installations\miniconda\envs\dsml\lib\site-packages (from imbalanced-learn) (1.7.1)
Requirement already satisfied: joblib<2,>=1.2.0 in d:\installations\miniconda\envs\dsml\lib\site-packages (from imbalanced-learn) (1.5.1)
Requirement already satisfied: threadpoolctl<4,>=2.0.0 in d:\installations\miniconda\envs\dsml\lib\site-packages (from imbalanced-learn) (3.5.0)
Using cached imbalanced_learn-0.14.0-py3-none-any.whl (239 kB)
Installing collected packages: imbalanced-learn
Successfully installed imbalanced-learn-0.14.0

In [17]:
#for oversampling as of now
from imblearn.over_sampling import RandomOverSampler
ro = RandomOverSampler()
ro_x , ro_y = ro.fit_resample(X, y)

In [19]:
ro_x.value_counts(), ro_y.value_counts()

(Gender  Age  EstimatedSalary
 0       48   33000              6
 1       40   142000             6
 0       56   60000              5
         47   23000              4
         32   100000             4
                                ..
         30   89000              1
         23   63000              1
         30   135000             1
         31   18000              1
         24   19000              1
 Name: count, Length: 379, dtype: int64,
 Purchased
 0    257
 1    257
 Name: count, dtype: int64)