In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv(r"D:\Github\Data-Science-And-Machine-Learning-Course\Datasets\Social_Network_Ads.csv")

In [3]:
dataset.head(3)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0

In [5]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [6]:
#as dataset looks imbalance so we can do both undersampling and oversampling for these

In [7]:
dataset.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [9]:
#we change gender into label, but instead of label encoder we can also use map feature
dataset["Gender"] = dataset["Gender"].map({"Male":0, "Female":1})

In [10]:
dataset.head(3)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       0   19            19000          0
1  15810944       0   35            20000          0
2  15668575       1   26            43000          0

In [11]:
X = dataset.drop(columns=["User ID", "Purchased"])
y = dataset["Purchased"]

In [ ]:
#for oversampling as of now
from imblearn