In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv(r"D:\Github\Data-Science-And-Machine-Learning-Course\Datasets\placement.csv")

In [3]:
dataset.head(3)

   cgpa     score  package  placement
0  6.89  4.349952     3.26          1
1  5.12  6.609859     1.98          0
2  7.82  9.401520     3.25          1

In [4]:
X = dataset.drop(columns=["placement"])
y = dataset["placement"]

In [5]:
from sklearn.model_selection import train_test_split

In [7]:
# help(train_test_split)