In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv(r"D:\Github\Data-Science-And-Machine-Learning-Course\Datasets\Loan.csv")

In [3]:
dataset.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y

In [10]:
names = ["sandesh", "cow", "fish", "goat"]
df = pd.DataFrame(names, columns=['names'])
df

     names
0  sandesh
1      cow
2     fish
3     goat

In [6]:
#it can be written as
df1= pd.DataFrame({"x": ["sandesh", "cow", "fish", "goat"]}) #older approach only used for 1d arrays
df1

         x
0  sandesh
1      cow
2     fish
3     goat

In [7]:
from sklearn.preprocessing import LabelEncoder
l_en = LabelEncoder()

In [12]:
df["encoded_number"] = l_en.fit_transform(df["names"])
df

     names  encoded_number
0  sandesh               3
1      cow               0
2     fish               1
3     goat               2