In [1]:
import pandas as pd

In [6]:
og_data = {"Name": ["Ram", "Sam", "Tom", "Ram", "Tom"], "Mark": [90,80,80,90,90], "Roll": [1,2,3,1,3]}
df = pd.DataFrame(og_data)
df

  Name  Mark  Roll
0  Ram    90     1
1  Sam    80     2
2  Tom    80     3
3  Ram    90     1
4  Tom    90     3