In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv(r"D:\Github\Data-Science-And-Machine-Learning-Course\Datasets\placement.csv")

In [3]:
dataset.head(5)

   cgpa     score  package
0  6.89  4.349952     3.26
1  5.12  6.609859     1.98
2  7.82  9.401520     3.25
3  7.42  1.052133     3.67
4  6.94  1.726702     3.57