In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from mlxtend.plotting import decision_regions

In [2]:
dataset = pd.read_csv(r"D:\Github\Data-Science-And-Machine-Learning-Course\Datasets\placement.csv")

In [3]:
dataset.head(3)

   cgpa     score  package  placement
0  6.89  4.349952     3.26          1
1  5.12  6.609859     1.98          0
2  7.82  9.401520     3.25          1

In [4]:
dataset.isna().sum()

cgpa         0
score        0
package      0
placement    0
dtype: int64